body {
    background-color: #f0f0f0;
}
.jumbotron {
    background-image: url("https://unsplash.com/photos/nN1HSDtKdlw");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#landingPageButton {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}